/* Mobile: width < 740px */
@media only screen and (max-width: 739px){
    .web-Ncc {
        display: block;
    }
    .sidebar{
        position: absolute;
        transform: translateX(-100%);
        transition: transform linear 0.2s, opacity linear 0.2s;
        opacity: 0;
    }
    .sidebar.mobile-sidebar {
        display: block;
        width: 200px;
        position: absolute;
        z-index: 9;
        cursor: pointer;
        animation: fadeIn linear 0.2s;
        transform: translateX(0);
        opacity: 1;
    }
    @keyframes fadeIn{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    .news-wrap {
        display: block;
        padding: 0 10px;
    }
    .container {
        margin: 0;
    }
    .wrap-item {
        margin-bottom: 20px;
    }
    .bars-mobile.mobile{
        display: block;
        position: absolute;
        margin: 10px;
        z-index: 99;
        font-size: 2.6rem;
        cursor: pointer
    }
    .bars-mobile.display-none {
        display: none;
    }
    .closes-sidebar.mobile {
        display: none;
        font-size: 1.8rem;
        padding: 10px;
        position: absolute;
        z-index: 99;
        cursor: pointer;
        color: #AAAAAA;
        top: -4px;
        left: 170px;
    }
    .closes-sidebar.mobile:hover {
        color: #fff;
    }
    .closes-sidebar.display-block {
        display: block;
    }
    .footer {
        padding-left: 10px;
    }
}

/* Table: width >=740px and width <1024px */
@media only screen and (min-width: 740px) and (max-width: 1023px){
    .bars-mobile {
        display: none;
    }
    .closes-sidebar {
        display: none;
    }
}

/* PC: width >=1024px */
@media only screen and (min-width: 1024px){
    .bars-mobile {
        display: none;
    }
    .closes-sidebar {
        display: none;
    }
}